<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PZSaveManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<PZSaveManager.Properties.Settings>
      <setting name="SavePath" serializeAs="String">
          <value />
      </setting>
      <setting name="UseCompression" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="SaveHotkey" serializeAs="String">
          <value>F5, Control</value>
      </setting>
      <setting name="EnableAutosave" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="AutosaveInterval" serializeAs="String">
          <value>10</value>
      </setting>
      <setting name="AbortSaveHotkey" serializeAs="String">
          <value>F6, Control</value>
      </setting>
      <setting name="UseSaveSounds" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="SoundVolume" serializeAs="String">
          <value>50</value>
      </setting>
      <setting name="AutoCheckForUpdates" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="MinimizeToSystemTray" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="IsEverMinimized" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="DuserPath" serializeAs="String">
          <value />
      </setting>
  </PZSaveManager.Properties.Settings>
    </userSettings>
</configuration>